/*
=========================================================================
============= ГЛОБАЛЬНЫЕ НАСТРОЙКИ CSS ДЛЯ ВСЕГО ПРОЕКТА ================
=========================================================================
*/
:root {
  --font-family: "Poppins", sans-serif;
}
.container {
  margin: 0 auto;
  width: 1280px;
  background: #f5f5f5;
}
body {
  font-family: "Poppins";
}
h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 180px;
  line-height: 96%;
  text-align: center;
  color: #52483e;
}
h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 180px;
  line-height: 96%;
  text-align: center;
  background: linear-gradient(0deg, #daccbc 0%, #afa497 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 56px;
  text-transform: capitalize;
  text-align: center;
  color: #52483e;
}
.text-1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #8b8782;
}
/* header */
.header {
}
.header__flex {
  padding: 33px 25px 0;
  display: flex;
  justify-content: space-between;
}
.header__title-flex {
  display: flex;
  justify-content: center;
}
.header__title-flex a {
  padding: 10px 32px;
  width: 141px;
  height: 44px;
  text-align: center;
}
.header__title-flex a:hover {
  border-radius: 24px;
  padding: 10px 32px;
  width: 141px;
  height: 44px;
  color: #fff;
  background: linear-gradient(180deg, #52483e 0%, #8b8782 100%);
}

/* footer */
.footer .container {
  background: linear-gradient(180deg, #f5f5f5 0%, #d2cdc6 100%);
}
.footer .title-1 {
  font-size: 42px;
  text-transform: capitalize;
}
.footer .text-1 {
  margin: 0 auto;
  max-width: 644px;
  font-size: 20px;
}
.footer__btn-flex {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 19px;
}
#aura {
  border-radius: 24px;
  padding: 10px 32px;
  width: 144px;
  height: 44px;
  background: #f5f5f5;
}
#flow {
  border-radius: 24px;
  padding: 10px 32px;
  width: 112px;
  height: 44px;
  background: #f5f5f5;
}
.footer hr {
  margin-top: 45px;
  height: 2px;
}
.footer__flex {
  margin: 0 auto;
  max-width: 1118px;
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.footer__flex .text-1 {
  padding-top: 0;
  font-size: 16px;
  line-height: 312%;
  text-align: right;
}
.footer__flex-copyright-flex {
  display: flex;
  gap: 13px;
  align-items: center;
}
.footer__flex-copyright-flex-logo_flex {
  padding-top: 10px;
  display: flex;
  gap: 16px;
}
.footer__flex-copyright-flex-logo_flex img {
  width: 26px;
  height: 26px;
}
